/* ============================================================ *\
*         Mary Elenius Final Portfolio General Stylesheet         *
*      https://coolors.co/8cd5cf-fafbfb-4f565d-d5d8d7-000000     *
*                         05/02/2023                             *
\* -----------------------------------------------------------  */

/*                     Table of Contents:                       *\

* UNIVERSAL & VARIABLES
  ## Universal Selectors
  ## Color Variables

* ELEMENTS
  ## HTML
  ## Body

* FLEXBOX

* TYPOGRAPHY 
  ## Font Family
  ## Text wrap
  ## Code blocks
  ## Header Tags

* COMPONENTS
 ## Header
 ## Glitch Shape
 ## Buttons
 ## Footer

* HELPERS
 ## Margin Auto

/* ============================================================ *\
*                     Universal & Variables                      *
\* -----------------------------------------------------------  */

/* --------------      Universal Selectors       -------------- */

/*      Universal- removes padding & margin & set box-sizing    */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*       Universal- removes text decoration from li and a      */
li,
a {
  text-decoration: none;
}

/* ----------------      Color Variables       ---------------- */

/*       Color variables for easy selection throughout CSS      */
:root {
  --light-blue: #8cd5cfff;
  --white: #fafbfbff;
  --dark-gray: #4f565dff;
  --light-gray: #d5d8d7ff;
  --black: #000000ff;
}

/* ============================================================ *\
*                           Elements                             *
\* -----------------------------------------------------------  */

/* html */

html {
  margin: 0;
  height: 100vh;
  color: var(--light-blue) !important;
  /* todo- add text shadow */
}

/* ---------------------       Body       --------------------- */

/*          Element Selector to apply background color          */
body {
  background-image: url("../images/background-image.svg");
  background-repeat: repeat;
  /* background-size: cover; */
  margin: 0;
  width: 100vh;
  aspect-ratio: auto;
}

/* A-hrefs */
a {
  color: var(--light-blue) !important;
}

/* ============================================================ *\
*                           Flexbox                              *
\* -----------------------------------------------------------  */

/*                Class selector to apply flexbox                */
.flexbox {
  display: flex !important;
}

/*         Class selector to apply column flex direction         */
.flexColumn {
  flex-direction: column;
}

/*          Class selector to apply row flex direction           */
.flexRow {
  flex-direction: row;
}

.flexNoWrap {
  flex-wrap: nowrap;
}

/* ============================================================ *\
*                          Typography                            *
\* -----------------------------------------------------------  */

/* -----------------       Font Family       ------------------ */

/* ------------------       Text Wrap       ------------------- */

/*              Class selector to apply text wrap               */
.text-wrap {
  /* Since CSS 2.1 */
  white-space: pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -moz-pre-wrap;
  /* Opera 4-6 */
  white-space: -pre-wrap;
  /* Opera 7 */
  white-space: -o-pre-wrap;
  /* Internet Explorer 5 */
  word-wrap: break-word;
}

.no-wrap {
  /* Since CSS 2.1 */
  white-space: nowrap;
  /* Mozilla, since 1999 */
  white-space: -moz-no-wrap;
  /* Opera 4-6 */
  white-space: -no-wrap;
  /* Opera 7 */
  white-space: -o-no-wrap;
  /* Internet Explorer 5 */
  word-wrap: normal;
}

/* ============================================================ *\
*                          Components                            *
\* -----------------------------------------------------------  */

/* -------------------       Header       --------------------- */

/*        Coding Panda        */
.panda-coding {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 250px;
  width: 250px;
}

/*  Name */
/* Relocated to assets/css/glitch-name.css */

/* ------------------       Sections       -------------------- */

/*  Technologies */
#technologies {
  background-image: url("../images/technology-container.svg");
  background-repeat: no-repeat;
  min-height: 300px;
  position: absolute;
  top: 30%;
  left: 30%;
}

/* ~~~~~~ Column container (sets height to contain ul) ~~~~~ */
#column-container {
  height: fit-content;
  margin-top: 4%;
}

/* ~~~~~~ Tab container ~~~~~~ */
#tab-container {
  display: flex !important;
  flex-direction: column !important;
  overflow-x: visible;
  overflow-y: visible;
  height: 33px;
}

/* ~~~~~~ Fixes line height for the line items ~~~~~~ */
.user-style-tab {
  height: 33px !important;
  line-height: 33px !important;
  background: rgba(0, 0, 0, 0.1);
  margin: 1%;
}

/* Frameworks and Technologies */
#tech1 {
  background-image: url("../images/technology-modal.svg");
  background-repeat: no-repeat;
  position: absolute;
}
/* Databases */
#tech2 {
  background-image: url("../images/technology-modal-2.svg");
  background-repeat: no-repeat;
  position: absolute;
}
/* Languages */
#tech3 {
  background-image: url("../images/technology-modal-3.svg");
  background-repeat: no-repeat;
  position: absolute;
}
/* Other Tools */
#tech4 {
  background-image: url("../images/technology-modal-4.svg");
  background-repeat: no-repeat;
  position: absolute;
}

/* Work */
#work {
  background-image: url("../images/work-container.svg");
  background-repeat: no-repeat;
  min-height: 300px;
  position: absolute;
  left: 20%;
  top: 90%;
}

/* About Me */
#about-me {
  background-image: url("../images/about-me-container.svg");
  background-repeat: no-repeat;
  min-height: 300px;
  position: absolute;
  left: 5%;
  top: 50%;
}

/* Contact */
#contact {
  background-image: url("../images/contact-container.svg");
  background-repeat: no-repeat;
  min-height: 300px;
  position: absolute;
  right: 10%;
  top: 60%;
}
/* Resume */
#resume {
  background-image: url("../images/resume-container.svg");
  background-repeat: no-repeat;
  min-height: 150px;
  width: auto;
  position: absolute;
  right: 7%;
  top: 100%;
}
/* Extra */
#extra {
  background-image: url("../images/extra-container.svg");
  background-repeat: no-repeat;
  min-height: 200px;
  position: absolute;
  left: 5%;
  top: 130%;
}
/* -------------------       Footer       --------------------- */

/* -------------------       Button       --------------------- */

/* ============================================================ *\
*                         Media Queries                          *
\* -----------------------------------------------------------  */

/* ---------------       Hidden Elements       ---------------- */

/*    Class slector to prioritize hidden on medium and down     */
@media only screen and (max-width: 992px) {
  span.hide-on-med-and-down {
    display: none !important;
  }
}

/* ============================================================ *\
*                           Helpers                              *
\* -----------------------------------------------------------  */

.hidden {
  display: none !important;
}
/* ============================================================ *\
*                        Example Heading                         *
\* -----------------------------------------------------------  */

/* -------------       Example Sub-Heading       --------------- */

.background-image {
}
