/* ============================================================ *\
*         Mary Elenius Final Portfolio General Stylesheet         *
*      https://coolors.co/8cd5cf-fafbfb-4f565d-d5d8d7-000000     *
*                         05/02/2023                             *
\* -----------------------------------------------------------  */

/*                     Table of Contents:                       *\

* UNIVERSAL & VARIABLES
  ## Universal Selectors
  ## Color Variables

* ELEMENTS
  ## HTML
  ## Body

* FLEXBOX

* TYPOGRAPHY 
  ## Font Family
  ## Text wrap
  ## Code blocks
  ## Header Tags

* COMPONENTS
 ## Header
 ## Glitch Shape
 ## Buttons
 ## Footer

* HELPERS
 ## Margin Auto

* MEDIA QUERIES
 ## 	Mobile Devices <= 600px
 ## Tablet Devices > 600px
 ## Desktop Devices > 992px
 ## Large Desktop Devices > 1200px

/* ============================================================ *\
*                     Universal & Variables                      *
\* -----------------------------------------------------------  */

/* --------------      Universal Selectors       -------------- */

/*      Universal- removes padding & margin & set box-sizing    */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*       Universal- removes text decoration from li and a      */
li,
a {
  text-decoration: none;
}

/* ----------------      Color Variables       ---------------- */

/*       Color variables for easy selection throughout CSS      */
:root {
  --light-blue: #8cd5cfff;
  --dark-blue: #121629;
  --white: #fafbfbff;
  --dark-gray: #4f565dff;
  --light-gray: #d5d8d7ff;
  --black: #000000ff;
}

/* ============================================================ *\
*                           Elements                             *
\* -----------------------------------------------------------  */

/* html */

html {
  /* height: 100vh; */
  color: var(--light-blue) !important;
  /* todo- add text shadow */
  background-color: #121629;
}

/* ---------------------       Body       --------------------- */

/*          Element Selector to apply background color          */
body {
  background-image: url("../images/background-image.svg");
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
}

/* A-hrefs */
a {
  color: var(--light-blue) !important;
}

/* ============================================================ *\
*                           Flexbox                              *
\* -----------------------------------------------------------  */

/*                Class selector to apply flexbox                */
.flexbox {
  display: flex !important;
}

/*         Class selector to apply column flex direction         */
.flexColumn {
  flex-direction: column;
}

/*          Class selector to apply row flex direction           */
.flexRow {
  flex-direction: row;
}

.flexNoWrap {
  flex-wrap: nowrap;
}

/* ============================================================ *\
*                          Typography                            *
\* -----------------------------------------------------------  */

/* -----------------       Font Family       ------------------ */

/* ------------------       Text Wrap       ------------------- */

/*              Class selector to apply text wrap               */
.text-wrap {
  /* Since CSS 2.1 */
  white-space: pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -moz-pre-wrap;
  /* Opera 4-6 */
  white-space: -pre-wrap;
  /* Opera 7 */
  white-space: -o-pre-wrap;
  /* Internet Explorer 5 */
  word-wrap: break-word;
}

.no-wrap {
  /* Since CSS 2.1 */
  white-space: nowrap;
  /* Mozilla, since 1999 */
  white-space: -moz-no-wrap;
  /* Opera 4-6 */
  white-space: -no-wrap;
  /* Opera 7 */
  white-space: -o-no-wrap;
  /* Internet Explorer 5 */
  word-wrap: normal;
}

/* Heading Sizes */

h3 {
  font-size: 1rem !important;
  color: var(--black);
}

h4 {
  font-size: 0.9rem !important;
  color: var(--black);
  font-weight: 500;
}

h5 {
  font-size: 0.7rem !important;
}

/* ============================================================ *\
*                          Components                            *
\* -----------------------------------------------------------  */

/* Scanlines */
.scanlines {
  height: 250vh;
  background-repeat: repeat-y;
  overflow: visible !important;
}

/* -------------------       Header       --------------------- */

/*        Coding Panda        */
.panda-coding {
  position: absolute;
  min-width: 300px;
  max-width: 300px;
  top: 40px;
  left: 900px;
}

/*  Name */
/* Relocated to assets/css/glitch-name.css */

/* ------------------       Sections       -------------------- */

/* Mind the Mess modal */

#messy-panda {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  right: 7%;
  top: 9px;
  z-index: 100;
}

.modal .modal-content {
  padding: 0px !important;
  position: relative;
}

.modal-content h5 {
  position: relative;
  width: 175px;
  font-size: 1.3rem;
  top: 9px;
  right: 13px;
}

#modal-text {
  position: relative;
  width: 175px;
  right: 13px;
  bottom: -10px;
  font-size: 0.7rem;
}

#panda-modal-content {
  left: 35px;
}
#react-btn {
  font-size: 0.7rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal1 {
  background-image: url(../images/mind-the-mess-container.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  max-height: 300px;
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  position: absolute;
  margin-left: 5%;
  margin-right: 95%;
  text-align: center;
  padding: 0px !important;
  overflow: hidden;
}

.modal-footer {
  position: absolute;
  right: 20px;
  bottom: 5px;
  background-color: transparent !important;
}

/*  Technologies */

#technologies {
  background-image: url("../images/technology-container.svg");
  background-repeat: no-repeat;
  min-width: 400px !important;
  max-width: 400px !important;
  height: 190px;
  position: absolute;
  top: 100px;
  left: 400px;
}

.carousel-item {
  opacity: 0.01 !important;
}
.carousel-item.active {
  opacity: 1 !important;
}

#technology-content {
  height: 0px;
  width: 0px;
}

/* ~~~~~~ Column container (sets height to contain ul) ~~~~~ */
#column-container {
  position: relative;
  height: 20px;
  width: 215px;
  top: -52px;
  left: 6px;
  z-index: 900;
}

.indicator {
  display: none;
}

/* ~~~~~~ Tab container ~~~~~~ */
#tab-container {
  display: flex !important;
  flex-direction: column !important;
  overflow-x: visible;
  overflow-y: visible;
  background: transparent;
  /* modal= 1003 */
  position: absolute;
  left: 100px;
  top: 5px;
  width: 190px;
}

.tabs-content {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* ~~~~~~ Fixes line height for the line items ~~~~~~ */
.user-style-tab {
  height: 20px !important;
  line-height: 20px !important;
  background: rgba(255, 255, 255, 0.1);
  margin: 1%;
  border: 0.1px solid var(--light-blue);
  z-index: 5000;
}

.user-style-tab a {
  text-transform: capitalize;
}

.user-style-tab:hover {
  background: rgba(0, 0, 0, 0.1);
}

.tabs-content {
  overflow: visible;
}

/* Frameworks and Technologies */
#tech1 {
  background-image: url("../images/technology-modal.svg");
  background-repeat: no-repeat;
  position: absolute;
  min-height: 180px !important;
  max-height: 180px !important;
  left: -190px;
  top: 80px;
  width: 200px;
}

.carousel-slider {
  width: 10px;
}

.carousel-item {
  z-index: -10 !important;
}

.carousel-item.active {
  z-index: 1600 !important;
}

#technology-z-index {
  z-index: -20 !important;
  width: 1px;
}

#tech1 h4 {
  position: relative;
  top: -7px;
  left: 16px;
}

#tech1 ul {
  position: absolute;
  left: 25px;
  height: 80px;
  width: 125px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 3000;
}

/* Databases */
#tech2 {
  background-image: url("../images/technology-modal-2.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -65px;
  left: -190px;
  min-height: 180px;
  max-height: 180px;
  z-index: 1500;
  width: 200px;
}

#tech2 h4 {
  position: absolute;
  top: -15px;
  left: 25px;
}

#tech2 ul {
  position: absolute;
  left: 50px;
  top: 34px;
  height: 80px;
  width: 110px;
  overflow: hidden;
}

#tech2 i {
  position: absolute;
  top: 18px;
  right: 18px;
}

/* Languages */
#tech3 {
  background-image: url("../images/technology-modal-3.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 84px;
  left: -192px;
  min-height: 180px;
  max-height: 180px;
  width: 200px;
}

#tech3 h4 {
  position: absolute;
  top: 11px;
  left: 35px;
  color: var(--light-blue);
}

#tech3 ul {
  position: absolute;
  left: 50px;
  top: 62px;
  height: 48px;
  width: 120px;
  overflow: hidden;
  overflow-y: scroll;
}

#tech3 i {
  position: absolute;
  right: 28px;
  top: 23px;
}

/* Other Tools */
#tech4 {
  background-image: url("../images/technology-modal-4.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -193px;
  top: -30px;
  min-height: 180px;
  max-height: 180px;
  visibility: visible;
  width: 220px;
}

#tech4 h4 {
  position: absolute;
  top: -17px;
  right: 42px;
}

#tech4 ul {
  position: absolute;
  left: 26px;
  top: 22px;
  height: 63px;
  width: 125px;
  overflow: hidden;
  overflow-y: scroll;
}

#tech4 i {
  position: absolute;
  top: 20px;
  right: 47px;
}
#section-content ul {
  top: 70px;
  margin-left: 25px;
}
/* About Me */
#about-me {
  background-image: url("../images/about-me-container.svg");
  background-repeat: no-repeat;
  min-height: 300px;
  max-height: 300px;
  width: 320px;
  position: absolute;
  left: 80px;
  top: 400px;
  z-index: 0 !important;
}

#about-me h3 {
  position: absolute;
  top: -13px;
  left: 60px;
}

#about-me img {
  background-image: url("../images/MaryEleniusProfilePic.jpeg");
  background-repeat: no-repeat;
  position: absolute;
  left: 34px;
  top: 60px;
  height: 50px;
  width: 50px;
}

#about-me ul {
  position: absolute;
  top: 58px;
  left: 100px;
  height: 50px;
  font-size: 0.6rem;
}

#top-list {
  margin: 2px;
}

#bottom-list {
  margin: 2px;
}

#section-content div#about-p-tags {
  position: absolute;
  left: 30px;
  top: 140px;
  width: 140px;
  height: 120px;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 0.8rem;
}

/* Contact */
#contact {
  background-image: url("../images/contact-container.svg");
  background-repeat: no-repeat;
  min-height: 300px;
  max-height: 300px;
  position: absolute;
  width: 400px;
  left: 980px;
  top: 400px;
}

#contact h3 {
  position: absolute;
  top: -27px;
  left: 70px;
}

#contact ul {
  position: absolute;
  white-space: normal;
  width: 200px;
  height: 80px;
  top: 100px;
  left: 80px;
  font-size: 0.8rem;
  -webkit-column-count: 2; /* Chrome/Opera, Safari */
  -moz-column-count: 2; /* Mozilla Firefox */
  column-count: 2;
  vertical-align: middle;
}

#contact i {
  margin-bottom: 6px;
}

#contact li {
  line-height: 25px;
  vertical-align: middle;
}

#contact-content {
  position: absolute;
  top: 0px;
}

div#contact-content a.btn {
  height: 35px;
  width: 217px;
  position: absolute;
  top: 160px;
  left: 66px;
  text-align: center;
}

/* ~~~ Contact Form Modal ~~~~ */

#modal2 {
  background-color: #121629;
  border: 1px solid var(--light-blue);
  border-radius: 5px;
}

.modal-content h2 {
  margin: 10px;
}

#contact-area {
  width: 600px;
  margin-top: 0px;
  padding: 20px;
  padding-top: 0px;
  z-index: 1900;
}

.modal-content p {
  text-align: center;
  margin-bottom: 5px;
}

#contact-area input,
#contact-area textarea {
  padding: 5px;
  width: 471px;
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
  margin: 0px 0px 10px 0px;
  border: 1px solid var(--light-blue);
  z-index: 1900;
  color: var(--light-blue);
}

#contact-area textarea {
  height: 90px;
  z-index: 1900;
}

#contact-area textarea:focus,
#contact-area input:focus {
  border: 1px solid var(--white);
  z-index: 1900;
}

#contact-area input.submit-button {
  width: 100px;
  z-index: 1900;
  background-color: #121629;
  color: var(--light-blue);
}

label {
  float: left;
  text-align: left;
  margin-right: 15px;
  margin-left: 5px;
  width: 100px;
  padding-top: 5px;
  font-size: 1.4em;
  z-index: 1900;
  color: var(--light-blue);
}

#modal-p {
  text-align: center;
  margin-bottom: 20px;
}

/* Resume */
#resume {
  background-image: url("../images/resume-container.svg");
  background-repeat: no-repeat;
  min-height: 30%;
  width: auto;
  position: absolute;
  right: 7%;
  bottom: 2%;
  display: none !important;
}

#resume-download-container {
  position: absolute;
  top: 32px;
  left: 200px;
  text-align: center;
  line-height: 15px;
}

/* Work */
#work {
  background-image: url("../images/work-container.svg");
  background-repeat: no-repeat;
  min-height: 250px !important;
  max-height: 250px !important;
  width: 400px;
  position: absolute !important;
  left: 500px;
  top: 450px;
}

ul#work-ul {
  position: absolute;
  left: 150px;
  top: 40px;
  height: 50px;
  width: 100px;
  overflow: hidden;
  overflow-y: scroll;
}

.work {
  position: absolute;
  top: 100px;
  right: 80px;
}

.specific-work-ul {
  columns: 4;
  font-size: 0.6rem;
}

.work span {
  line-height: 16px;
  font-size: 0.6rem;
}

.work li {
  line-height: 16px;
}

.work h4 {
  line-height: 16px !important;
  margin: 5px;
  left: 100px;
  color: var(--light-blue);
}

.work h5 {
  line-height: 16px !important;
  margin: 5px;
}

.work-links {
  justify-content: space-around;
  margin-left: 20px;
}
.tabs {
  display: flex !important;
  flex-direction: column !important;
  overflow-x: visible;
  overflow-y: visible;
  background: transparent;
  /* modal= 1003 */
  position: absolute;
  left: 100px;
  top: 5px;
  width: 190px;
}

.tabs-content {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* ~~~~~~ Fixes line height for the line items ~~~~~~ */
.tabs {
  line-height: 20px !important;
  background: rgba(255, 255, 255, 0.1) !important;
  margin: 1%;
  border: 0.1px solid var(--light-blue);
  z-index: 5000;
  height: 40px;
  width: 125px;
  overflow: hidden;
  overflow-y: scroll;
}

.user-style-tab a span {
  text-transform: capitalize;
}

.user-style-tab:hover {
  background: rgba(0, 0, 0, 0.1);
}

.tabs-content {
  overflow: visible;
}

span.work-list-text {
  margin: 0px;
  font-size: 0.7rem;
}

#work-tabs.tabs {
  position: absolute;
  top: -40px;
  right: -40px;
}
#work #section-content ul.tabs {
  width: 110px;
  position: absolute !important;
  top: 45px !important;
  left: 135px !important;
  margin-bottom: 50px;
}

ul.tabs {
  z-index: 900;
  background: rgba(255, 255, 255, 0.1);
}
ul.tabs:hover {
  z-index: 900;
  background: rgba(0, 0, 0, 0.1);
}

/* Extra */
#extra {
  background-image: url("../images/extra-container.svg");
  background-repeat: no-repeat;
  min-height: 40%;
  position: absolute;
  left: 8%;
  bottom: 5%;
}

.textEffect-container {
  right: 10px;
}

/* -------------------       Footer       --------------------- */

/* -------------------       Button       --------------------- */

/* ============================================================ *\
*                           Helpers                              *
\* -----------------------------------------------------------  */

.hidden {
  display: none !important;
}

.row {
  margin-bottom: 0px !important;
}

/* ============================================================ *\
*      Media Queries (Alphabetical by screen size break          *
\* -----------------------------------------------------------  */

/* ----------       Mobile Devices <= 600px S       ------------ */

@media only screen and (max-width: 599px) {
  html {
    min-height: 220vh !important;
    max-height: 220vh !important;
  }
  body {
    min-height: 220vh !important;
    max-height: 220vh !important;
  }
  .scanlines {
    min-height: 220vh !important;
    max-height: 220vh !important;
  }
  .textEffect {
    font-size: 3rem !important;
    max-width: 200px !important;
    left: -100px;
    top: 40px;
  }
  .textEffect-container {
    top: 180px !important;
    left: 200px;
  }

  #about-me {
    max-height: 400px;
    min-height: 400px;
    top: 1050px !important;
    left: 40px !important;
  }
  h3 {
    font-size: 1.25rem !important;
  }
  #about-me h3 {
    top: -7px;
  }
  #about-me img {
    top: 77px;
    left: 45px;
  }
  .panda-coding {
    max-width: 300px !important;
    min-width: 300px !important;
    top: 77px;
    left: 45px;
  }

  #section-content div#about-p-tags {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 170px;
    margin-left: 10px;
    margin-right: 20px;
    height: 140px;
  }

  #contact {
    max-height: 270px !important;
    min-height: 270px !important;
    width: 500px;
    top: 380px;
    left: 50px;
  }

  div#contact-content a.btn {
    width: 200px;
    height: 30px;
    left: 58px;
    top: 150px;
  }

  a#contact-form-trigger {
    position: absolute !important;
    padding-top: 500px;
    top: 0px !important;
  }

  #contact-form-trigger {
    margin-top: 100px !important;
    left: 75px;
    font-size: 0.7rem;
  }

  #contact-content {
    position: absolute !important;
    top: 100;
    height: 50px !important;
  }

  #contact-icon {
    width: 150px !important;
    height: 20px !important;
    font-size: 0.75rem;
    margin-top: 2px;
  }

  #contact ul {
    top: 90px;
    left: 60px;
  }
  #contact-icon i {
    font-size: 0.75rem;
    margin-bottom: 9px;
  }
  #resume-download-container {
    top: 28px;
    right: 500px;
    line-height: 1px;
  }
  #resume-download-icon {
    margin-left: 10px;
  }
  #technologies {
    top: 300px !important;
    left: 10px !important;
  }

  #tab-container {
    bottom: 100px;
    left: 75px;
  }
  ul#tab-container {
    top: 70px;
    left: 100px;
  }

  #tech1,
  #tech2,
  #tech3,
  #tech4 {
    top: 180px;
    left: 88px;
  }

  #tech1 ul {
    top: 43px;
    left: 0px;
  }

  #tech2 ul {
    top: 30px;
    left: 30px;
  }
  #tech3 ul {
    top: 58px;
    left: 20px;
  }
  #tech4 ul {
    top: 23px;
    left: 10px;
  }
  #work {
    top: 1450px !important;
    left: 20px !important;
  }
  /* 
  ul#work-ul {
    top: 50px;
    left: 150px;
  } */

  #work1 {
  }

  #work2 {
  }
  #work3 {
  }
  #work4 {
  }

  .work-tab {
    top: 0px;
    left: 0px;
  }
}

/* ----------       Tablet Devices > 600px M      ------------- */

@media only screen and (max-width: 600px) {
}

/* ----------       Desktop Devices > 992px L     ------------- */

@media only screen and (max-width: 992px) {
  body {
    height: 120vh;
  }

  .panda-coding {
    top: 0px;
    left: 50px;
  }

  .textEffect-container {
    top: 180px !important;
    left: 30px !important;
  }

  #about-me {
    top: 40px;
    left: 600px;
  }

  #technologies {
    top: 400px;
    right: 100px;
  }

  #tech1 ul {
    top: 50px;
  }

  #tech2 ul {
    top: 30px;
    left: 30px;
  }
  #tech3 ul {
    top: 58px;
    left: 20px;
  }

  #tech4 ul {
    top: 20px;
    left: 10px;
  }
  #contact {
    top: 700px;
    left: 50px;
  }
  #work {
    top: 650px;
    left: 450px;
  }
}

/* ------       Large Desktop Devices > 1200px  XL      ------ */

@media only screen and (max-width: 1200px) {
}

/* ============================================================ *\
*                        Example Heading                         *
\* -----------------------------------------------------------  */

/* -------------       Example Sub-Heading       --------------- */
